body {
    background-color: black;
    overflow: hidden;
    padding: 1.2rem;
}

h1 {
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#container {
    width: 640px;
    margin: 20px auto;
    padding: 10px;
}

#interactive.viewport {
    width: 640px;
    height: 480px;
}


#interactive.viewport canvas, video {
    float: left;
    width: 640px;
    height: 480px;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -640px;
}

.scanner-overlay {
    display: none;
    width: 640px;
    height: 510px;
    position: absolute;
    padding: 20px;
    top: 50%;
    margin-top: -275px;
    left: 50%;
    margin-left: -340px;
    background-color: #FFF;
    -moz-box-shadow: #333333 0px 4px 10px;
    -webkit-box-shadow: #333333 0px 4px 10px;
    box-shadow: #333333 0px 4px 10px;
}

.scanner-overlay > .header {
    position: relative;
    margin-bottom: 14px;
}

.scanner-overlay > .header h4, .scanner-overlay > .header .close {
    line-height: 16px;
}

.scanner-overlay > .header h4 {
    margin: 0px;
    padding: 0px;
}

.scanner-overlay > .header .close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}