.verticalSlider {
    /*For an indication*/
    height: 90%;
    width: 15%;
    min-width: 150px;
    max-width: 200px;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.verticalSlider>i {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.arrow {
    color: white;
}

.arrow.disabled {
    color: rgb(129, 129, 129);
}

.arrow.selecting {
    transition: color 1s linear;
    color: #e32636 !important;
}

.carouselWrapper {
    position: relative;
    overflow: hidden;
}

.carousel {
    /*For an indication*/
    /*background: yellow;*/
    height: 100%;
    overflow: visible;
    position: absolute;
}

.item {
    /*For an indication*/
    /*background: tomato;*/
    border: white 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imageHolder {
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imageHolder>i.plus {
    height: 90%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10%;
}

#detailedBoxContent>div.iconHolder {
    height: 5rem;
    width: 5rem;
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailedBoxContent>div.iconHolder>i {
    color: white;
}

.iconHolder.selecting {
    transition: background-color 500ms linear;
    background-color: #e32636 !important;
}

div.iconHolder.left {
    left: -7rem;
}

div.iconHolder.right {
    right: -7rem;
}

.star {
    top: 10%;
}

.yellow {
    color: yellow !important;
}

.eye {
    top: 25%;
}

.trash {
    top: 40%;
}

.iconAni {
    animation: iconAnimation 500ms 1 ease-in;
}

@keyframes iconAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.imageHolder>img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.item>p {
    font-size: 1.3rem;
    color: white;
    white-space: nowrap;
}

.item.selected {
    border-color: crimson;
}

.item.selecting {
    /*animation: bg 2000ms cubic-bezier(0.19, 1, 0.22, 1) 1;*/
    animation: inner-border 2000ms cubic-bezier(.11, .11, .78, .76) 1;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #e32636 100%, #e32636 100%), linear-gradient(to bottom, #e32636 100%, #e32636 100%), linear-gradient(to right, #e32636 100%, #e32636 100%), linear-gradient(to bottom, #e32636 100%, #e32636 100%);
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
}

@keyframes inner-border {
    0% {
        background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}

hr#smallLine {
    width: 5rem;
    height: 3px;
    background-color: white;
    border: none;
    position: absolute;
    visibility: hidden;
    transition: opacity 400ms ease;
    opacity: 0;
}

div#detailedBox {
    width: 25%;
    border: 3px solid white;
    border-radius: 4%;
    position: absolute;
    visibility: hidden;
    transition: opacity 400ms ease;
    opacity: 0;
}

div#detailedBox>div#detailedBoxContent {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.itemNameHolder {
    width: 100%;
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 3px solid white;
}

#itemName {
    font-size: xx-large;
    white-space: nowrap;
    text-indent: 2%;
    color: white;
}

div#detailedBoxContent>.imageHolder {
    margin-top: 3%;
    margin-bottom: 3%;
}

div#detailedBoxText {
    align-self: flex-start;
    color: white;
    padding: 5%;
    padding-top: 0;
}

div#detailedBoxText>p:nth-child(1) {
    margin-top: 0 !important;
}

div#detailedBoxText>p:nth-child(odd) {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: bold;
}

div#detailedBoxText>p:nth-child(even) {
    padding-left: 1.5%;
}

.lds-ring {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: none;
}

.lds-ring.animate1 {
    animation: lds-ring 0.75s cubic-bezier(0.5, 0, 0.5, 1) .75;
    display: block;
}

.lds-ring.animate2 {
    animation: lds-ring 0.75s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    display: block;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}