@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: none;
}

body, html {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countdown {
    font-size: 42px;
}
