@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

body, html {
    background-color: black;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.card-stack {
    height: 68%;
    width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    transform-origin: bottom center;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    position: absolute;
    display: flex;
    height: 100%;
    width: 95%;
    background-color: white;
    border-radius: 5%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2px solid white;
    overflow: hidden;
    transition: opacity 1s;
}

.card .card-information {
    height: 10%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-clip: padding-box;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.card>.card-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0;
    display: flex;
    justify-content: center;
    transition: opacity 600ms ease;
}

.card-overlay>i {
    align-self: center;
    color: white;
}

.card-overlay.right {
    background: rgb(21, 184, 21, 0.7);
    opacity: 1;
}

.card-overlay.left {
    background: rgb(255, 99, 71, 0.7);
    opacity: 1;
}

.card-information>p.outfitName {
    font-size: 2vh;
    font-weight: bolder;
    color: white;
}

.card-information>p.outfitDescription {
    font-size: 1.5vh;
    font-weight: normal;
    color: white;
}

.card-information>p.outfitPrice {
    position: absolute;
    font-size: 2vh;
    font-weight: normal;
    color: white;
    align-self: flex-end;
}

.card.swipe-left {
    animation-name: swipe-left;
}

.card.swipe-right {
    animation-name: swipe-right;
}

/* global actions buttons*/

.global-actions {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    width: 500px;
    margin-bottom: 50px;
    justify-content: space-evenly;
    position: relative;
}

.global-actions>hr {
    justify-self: center;
    width: 95%;
    height: 0.5rem;
    background-color: gray;
    border: none;
    position: absolute;
    z-index: 10;
}

.right-action, .left-action {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 20;
    color: #fff;
}

.right-action:hover, .left-action:hover, .right-action.selecting, .left-action.selecting {
    animation: zoom-animation 1s ease 1;
}

@keyframes zoom-animation {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 20px #fff;
    }
    100% {
        transform: scale(1.2);
        box-shadow: 0px 0px 20px #fff;
    }
}

.right-action {
    background: rgb(21, 184, 21);
}

.left-action {
    background: rgb(255, 99, 71);
}

@keyframes swipe-right {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    100% {
        transform: translate(10%, -5%) rotate(15deg);
    }
}

@keyframes swipe-left {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    100% {
        transform: translate(-10%, -5%) rotate(-15deg);
    }
}

.item-container {
    margin: 3%;
    position: absolute;
    height: 75px;
    width: 92%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-align: left;
    border: 2px solid white;
    overflow: hidden;
}

.item-container.slideLeft {
    transition: transform 2s;
    transform: translate(-65%, 0%);
}

.card.winner {
    opacity: 0;
}

.card.winner.fadeIn {
    opacity: 1;
}

.card.winner::before {
    content: '✓ \A Match!';
    white-space: pre;
    word-wrap: break-word;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(180deg, rgba(0, 132, 255, 0.6) 0%, rgba(0, 132, 255, 0.3) 100%);
}

.card.winner.slideRight {
    transition: transform 2s 500ms;
    transform: translate(65%, 0%);
}

.item-container img {
    height: 100%;
    width: auto;
}

.item-container p.itemName {
    margin-left: 5px;
    width: 70%;
    font-size: 1.6vw;
}

.item-container p.itemPrice {
    width: auto;
    font-size: 1.5vw;
    position: absolute;
    right: 5px;
}

#cursor {
    background: white;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    position: absolute;
    justify-self: center;
    z-index: 1000;
    transition: 200ms ease-in-out;
    transform: translate(-50%, -50%);
    display: none;
}

/* #input_video {
    /*transform: rotateY(180deg);*/

/*-webkit-transform:rotateY(180deg); !* Safari and Chrome *!*/

/*-moz-transform:rotateY(180deg); !* Firefox *!*/

/* position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    display: none;
    visibility: hidden;
}
*/

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.sidebar i {
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    padding: 10px;
}

.sidebar i:hover, .sidebar i.selecting {
    transition: color 1s linear, border 1s linear;
    color: #e32636;
    border: 2px solid #e32636;
}