@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

/* entire container, keeps perspective */

.card-stack {
    perspective: 1000px;
}

/* flip the pane when hovered */

.card-stack.flip .card {
    transform: rotateY(-180deg);
}

.card-stack, .front, .back {
    width: 500px;
    height: 480px;
}

/* flip speed goes here */

.card-absolute {
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    transition: 1750ms;
    transform-style: preserve-3d;
    position: relative;
}

#one {
    background-image: url("https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg");
}

#two {
    background-image: url("https://th.bing.com/th/id/OIP.p-9HZ4I7CTukxmhdX67adgHaI1?pid=ImgDet&w=178&h=212&c=7");
}

/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(-180deg);
}