@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    overflow: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

h1 {
    width: 100%;
    font-size: 3rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center;
    margin: auto;
}

p.logger {
    height: 4.5rem;
    width: auto;
    border: 2px solid gray;
    color: gray;
    padding: .5rem;
    border-radius: 15px;
    overflow: hidden;
}

#container {
    width: 640px;
    padding: 10px;
}

#interactive {
    background: linear-gradient(white, white) top left, linear-gradient(white, white) top left, linear-gradient(white, white) top right, linear-gradient(white, white) top right, linear-gradient(white, white) bottom left, linear-gradient(white, white) bottom left, linear-gradient(white, white) bottom right, linear-gradient(white, white) bottom right;
    background-size: 6rem .5rem, .5rem 6rem;
    background-repeat: no-repeat;
    padding: .5rem;
}

#interactive.viewport {
    width: 640px;
    height: 480px;
}

#interactive.viewport canvas, video {
    float: left;
    width: 640px;
    height: 480px;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -640px;
}

.scanner-overlay {
    display: none;
    width: 640px;
    height: 510px;
    position: absolute;
    padding: 20px;
    top: 50%;
    margin-top: -275px;
    left: 50%;
    margin-left: -340px;
    background-color: #FFF;
    -moz-box-shadow: #333333 0px 4px 10px;
    -webkit-box-shadow: #333333 0px 4px 10px;
    box-shadow: #333333 0px 4px 10px;
}

.scanner-overlay>.header {
    position: relative;
    margin-bottom: 14px;
}

.scanner-overlay>.header h4, .scanner-overlay>.header .close {
    line-height: 16px;
}

.scanner-overlay>.header h4 {
    margin: 0px;
    padding: 0px;
}

.scanner-overlay>.header .close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.circle {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    right: 5px;
    border-radius: 999px;
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.5);
}

.count {
    position: absolute;
    width: 100%;
    line-height: 5rem;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    z-index: 2;
    animation: fadeout .5s 21s 1 linear;
    -webkit-animation: fadeout .5s 21s 1 linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.l-half, .r-half {
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.l-half::before, .r-half::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 20px solid #fff;
    -webkit-animation-duration: 21s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

.l-half::before {
    border-right: none;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.r-half::before {
    border-left: none;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

@-webkit-keyframes l-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
    }
}

@-webkit-keyframes r-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}