@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

body {
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#greeting {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 10;
}

#greeting img {
    height: 50%;
    width: auto;
}

#greeting h1 {
    font-size: 4rem;
}

#greeting.fadeOut {
    animation-delay: 4s;
}

#wrapper.fadeIn {
    animation-delay: 8s;
}

.fadeOut {
    animation: fadeOut ease 4s;
}

.fadeIn {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#wrapper {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

a:link,
a:visited,
a:hover,
a:active {
    color: none;
    text-decoration: none;
}

.mode {
    height: 14rem;
    width: 14rem;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform .2s;
}


/* .mode:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #fff;
} */

.mode:hover,
.mode.selecting {
    animation: zoom 2s linear;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 20px #fff;
    }
    100% {
        transform: scale(1.2);
        box-shadow: 0px 0px 20px #fff;
    }
}

i {
    color: white;
}

p {
    font-size: 2rem;
    position: absolute;
    bottom: -3rem;
    color: white;
}


/* #input_video {
    /*transform: rotateY(180deg);*/


/*-webkit-transform:rotateY(180deg); !* Safari and Chrome *!*/


/*-moz-transform:rotateY(180deg); !* Firefox *!*/


/* position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -10;
visibility: hidden;

} */

#cursor {
    background: white;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    position: absolute;
    justify-self: center;
    z-index: 1000;
    transform: translate(-50%, -50%);
    /* transition: 200ms ease-in-out; */
    display: none;
}