.tutorialWrapper {
    background: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    color: white;
}

section {
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    opacity: 0;
}

span.step {
    font-size: 100px;
}

section:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

p.step-instruction {
    width: 80%;
    font-size: 30px;
}

div.gif-animation {
    width: 10%;
    position: relative;
}

.gif-animation>i {
    color: white;
    z-index: 100;
    opacity: 1;
}

.wave {
    animation: wave-animation 5s infinite ease;
    transform-origin: -50% 50%;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg);
    }
    10% {
        transform: rotate(14.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg);
    }
    60% {
        transform: rotate( 0.0deg);
    }
    100% {
        transform: rotate( 0.0deg)
    }
}

div.tutorialItemBox {
    height: 100px;
    width: 100px;
    border: 3px solid white;
}

div.tutorialCursor {
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    right: -60px;
}

.pulse {
    animation: pulse-animation 5s infinite ease;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.move {
    animation: move-animation 10s infinite ease-in-out;
}

@keyframes move-animation {
    0% {
        top: -50px;
        right: -60px;
    }
    25% {
        top: -50px;
        right: -60px;
    }
    40% {
        transform: translate(-90px, 75px);
    }
    60% {
        transform: translate(-90px, 75px);
    }
    75% {
        top: -50px;
        right: -60px;
    }
    100% {
        top: -50px;
        right: -60px;
    }
}

.item.selecting {
    animation: inner-border 2.5s cubic-bezier(.11, .11, .78, .76) 1;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #e32636 100%, #e32636 100%), linear-gradient(to bottom, #e32636 100%, #e32636 100%), linear-gradient(to right, #e32636 100%, #e32636 100%), linear-gradient(to bottom, #e32636 100%, #e32636 100%);
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
}

@keyframes inner-border {
    0% {
        background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}

section.fadeIn {
    animation: fadeIn 1s 1 ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

button {
    font-size: 16px;
    font-weight: 700;
    height: 100px;
    width: 100px;
    background: none;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
}