.verticalSlider {
    /*For an indication*/
    height: 90%;
    width: 15%;
    min-width: 150px;
    max-width: 200px;
    margin-top: -2%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.verticalSlider>i {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.arrow {
    color: white;
    height: 7rem;
    width: 7rem;
}

.arrow.disabled {
    color: rgb(129, 129, 129);
}

.arrow.selecting {
    transition: color 1s linear;
    color: #e32636 !important;
}

.carouselWrapper {
    position: relative;
    overflow: hidden;
}

.carousel {
    /*For an indication*/
    /*background: yellow;*/
    height: 100%;
    overflow: visible;
    position: absolute;
}

.item {
    /*For an indication*/
    /*background: tomato;*/
    border: white 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imageHolder {
    height: 70%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imageHolder>i {
    height: 90%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10%;
}

.imageHolder>img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.item>p {
    font-size: 1.3rem;
    color: white;
    white-space: nowrap;
}

.item.selected {
    border-color: crimson;
}

.item.selecting {
    /*animation: bg 2000ms cubic-bezier(0.19, 1, 0.22, 1) 1;*/
    animation: inner-border 2000ms cubic-bezier(.11, .11, .78, .76) 1;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #e32636 100%, #e32636 100%), linear-gradient(to bottom, #e32636 100%, #e32636 100%), linear-gradient(to right, #e32636 100%, #e32636 100%), linear-gradient(to bottom, #e32636 100%, #e32636 100%);
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
}

@keyframes inner-border {
    0% {
        background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}